<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Lobby Full | Play Multiplayer Games with Friends</title>
  <meta name="description" content="Playme.io">
  <meta name="author" content="Andy Yu">

  <!-- Styles -->
  <%= stylesheet_link_tag "home" %>
  <%= stylesheet_link_tag "normalize" %>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

</head>
<body>
  <div class="container">
    <h1>Oops! Seems like this lobby is full :( </h1>
    <h4>Create your own lobby <a href="/">here</a>.</h4>
  </div>
</body>
</html>
