.chat_room {
  margin: 1%;
  padding: 0;
  float: right;
  position: relative;
  height: 95vh;
  width: 20%;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: #999999;
}

.chat_header {
  font-weight: 400;
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 0 5%;
  color: #3399FF;
}

#chat_box {
  margin: 5%;
  height: 85%;
  overflow-y: scroll;
}

#message_form {
  position: absolute;
  bottom: 0;
  margin: 5% 5% 5% 5%;
}

textarea:focus, input:focus{
    outline: none;
}

#message_box {
  width: 75%;
  padding: 7px 12px 7px 12px;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#send_button {
  background: #198cff;
  border: none;
  float: right;
  display: inline-block;
  padding: 8px 12px 8px 12px;
  color: white;
  font-weight: 500;
  font-size: 1em
  width: 25%;
}

#send_button:hover {
  background: #3399ff;
}

.message {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
